@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-base: hsl(200, 15%, 8%);
    --color-text-muted: hsl(0, 0%, 52%);
    --color-fill: hsl(0, 0%, 98%);
    --color-background-card: hsl(0, 0%, 100%);
  }
  .dark-theme {
    --color-background-card: hsl(209, 23%, 22%);
    --color-fill: hsl(207, 26%, 17%);
    --color-text-base: hsl(0, 0%, 100%);
  }
}
